<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/y18.gif" alt="" width="24" height="24" class="d-inline-block align-text-top">
      {{ title }}
    </a>
  </div>
</nav>

<div class="d-flex justify-content-center spinner" *ngIf="block_articles.length == 0">
  <div class="spinner-border" role="status">
  </div>
</div>

<div class="content container" role="main">
  <div class="row" *ngFor="let block_article of block_articles">
    <div class="col-lg-3" *ngFor="let article of block_article">
      <div class="article card my-3">
        <div class="card-body">
          <h6 class="card-title text-bold">{{ article.title }}</h6>
          <div class="image">
            <img class="card-img-top" [src]="article.coverImageUrl ? article.coverImageUrl : 'assets/article_image.png'" alt="{{ article.title }}">
          </div>
          <p class="text-muted small">{{ article.description }}</p>
          <a href="{{ article.url }}" target="_blank" class="btn btn-primary ml-auto">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
